<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ReportsForm.Properties.Settings.ClothesConnectionString"
      connectionString="Data Source=.;Initial Catalog=Clothes;User ID=sa;Password=1"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IInsuaranceService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/Monchann/InsuaranceService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInsuaranceService"
        contract="Hihihi.IInsuaranceService" name="BasicHttpBinding_IInsuaranceService" />
    </client>
  </system.serviceModel>
</configuration>